[user]
	name = Mike Bloy
	email = mike@bloy.org
[color]
	ui = true
[core]
	excludesfile = ~/.dotfiles/git-global-ignore
	attributesfile = ~/.dotfiles/git-global-attributes
[init]
	templatedir = ~/.dotfiles/git_template
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
        lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
        lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
        graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
        stat = status --short --branch --untracked-files=all

[url "git@github.com:"]
  insteadOf = github:

[url "git@git.bloy.org:"]
  insteadOf = bloy:
