[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/scss-syntax.vim"]
	path = vim/bundle/scss-syntax.vim
	url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/vim-trailing-whitespace"]
	path = vim/bundle/vim-trailing-whitespace
	url = git://github.com/bronson/vim-trailing-whitespace.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "vim/bundle/vim-tbone"]
	path = vim/bundle/vim-tbone
	url = https://github.com/tpope/vim-tbone.git
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = github:majutsushi/tagbar.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = github:bling/vim-airline.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "tmux/tmuxifier"]
	path = tmux/tmuxifier
	url = https://github.com/jimeh/tmuxifier
[submodule "vim/bundle/sensible"]
	path = vim/bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/bundle/pytest-vim-compiler"]
	path = vim/bundle/pytest-vim-compiler
	url = https://github.com/5long/pytest-vim-compiler.git
[submodule "vim/bundle/vim-jinja"]
	path = vim/bundle/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule "vim/bundle/vim-lsc"]
	path = vim/bundle/vim-lsc
	url = https://github.com/natebosch/vim-lsc
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/Jenkinsfile-vim-syntax"]
	path = vim/bundle/Jenkinsfile-vim-syntax
	url = https://github.com/martinda/Jenkinsfile-vim-syntax.git
[submodule "vim/bundle/vim-lsp"]
	path = vim/bundle/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "vim/bundle/async"]
	path = vim/bundle/async
	url = https://github.com/prabirshrestha/async.vim.git
