[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = git://github.com/edsono/vim-bufexplorer.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/ruby-matchit"]
	path = vim/bundle/ruby-matchit
	url = git://github.com/vim-scripts/ruby-matchit.git
