XTerm*colorMode: true
XTerm*colorBDMode: true
XTerm*colorBD: white
XTerm*highlightColor: darkblue
XTerm*dynamicColors: true
XTerm*cursorColor: white
XTerm*pointerColor: white
XTerm*scrollBar: false

XTerm*color0:           black
XTerm*color1:           red3
XTerm*color2:           green3
XTerm*color3:           yellow3
XTerm*color4:           blue
XTerm*color5:           magenta3
XTerm*color6:           cyan3
XTerm*color7:           grey75
XTerm*color8:           grey40
XTerm*color9:           red
XTerm*color10:          green
XTerm*color11:          yellow
XTerm*color12:          dodgerblue2
XTerm*color13:          magenta
XTerm*color14:          cyan
XTerm*color15:          white

XTerm*background:       black
XTerm*foreground:       grey75
XTerm*boldMode:         False
XTerm*font: -b&h-lucidatypewriter-medium-r-*-*-14-*-*-*-*-*-iso8859-1
XTerm*boldFont: -b&h-lucidatypewriter-medium-r-*-*-14-*-*-*-*-*-iso8859-1

Rxvt*scrollBar_right: true
XTerm*loginShell: true
Rxvt*termName: xterm
Rxvt*font: "Bitstream Vera Sans Mono-15"
Rxvt*boldFont: "Bitstream Vera Sans Mono-15"
Rxvt*visualBell: false
